{{#if resume.languages.length}}
<section id="languages">
	<h2>{{pickLang "Languages" "Lingue"}}</h2>
	{{#each resume.languages}}
	<div class="item">
		{{#if language}}
		<h5 class="language" id="{{lowerCase language}}">
			{{language}}
		</h5>
		{{/if}}
		{{#if fluency}}
		<h5 class="fluency">
			{{fluency}}
		</h5>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}